body {
    font-family: 'Open Sans', sans-serif;


}

/* *lets make beautiful */

/* *header */

.header {
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    padding: 0%;

}

.banner {


    display: flex;
    margin: auto;
    width: 100%;


}

.llb {
    justify-content: center;
    margin: 240px;
}

.banner-img {

    width: 50%;
    margin-right: 240px;
    margin-top: 50px;

}

.btn {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    padding: 20px 43px;

}

.lets-des {
    color: rgba(39, 39, 39, 0.60);
}

/* *Our fetured flowers */

.featured {
    background-color: #FFF;



}

.fd {
    color: rgba(39, 39, 39, 0.60);
}

.section-td {
    margin: 178px;
    text-align: center;
    padding: auto;
}

.container-2nd {
    background: #FFF;
    justify-content: space-around;
    /* justify-content: space-between; */
    margin: 100px;
    align-items: center;
    display: flex;
    text-decoration: underline;







}

.pink {
    border-radius: 300px 300px 0px 0px;
    display: flex;






}

.p6 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.p5 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.p7 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}










/* *delivery & support */


.container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

    width: 1440px;
    height: 320px;
    justify-content: center;
    margin: 10%;
    padding: 50px;
    text-align: center;


}


/* *extra add */


.container-extra {

    text-align: center;
    background-color: rgba(229, 84, 115, 0.10);
    /* margin: 10px 10px; */
    padding: 20px;
    border: 2px solid #E55473;
    box-shadow: 10px;
    border-radius: 50px;

}


/* *hot deal */

.container-hotdeal {
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
}

.c1 {

    margin: 100px;
    justify-content: center;
    padding: 100px;
}

.c2 {
    justify-content: center;
    padding: 100px;

}

span {
    color: #E55473;
}

.cc1 {
    color: rgba(39, 39, 39, 0.60);
}


/* *Instagram */

.container {
    background: #FFF;
    margin-top: 30px;
}

.instagram {
    text-align: center;
    padding: 50px;
}

.insta-pic {
    display: block;
    justify-content: space-around;
    padding: 24px;

}

.insta-p {
    color: rgba(39, 39, 39, 0.60);
    /* padding-bottom: 50px; */
}



/* *get the latest idea */

.container-getthe {
    background: #FFF;
    display: flex;
    justify-content: center;
    background-image: url("image/Rectangle\ 9.png");
    width: auto;
    margin: 128px 270px;
    padding: 50px 50px;
    background-repeat: no-repeat;



}

.em {

    width: 700px;
    height: 64px;
    text-align: left ;
    border-radius: 8px;
background: #FFF;
border: none;

}

.c-tp1{
    text-align: center;
    padding-bottom:20px ;
}

#clr{
    color: rgba(39, 39, 39, 0.60);
}




/* *footer */

.container-footer{
    background: #111010;
    text-align: center;
    padding: 50px;
}

.container-footer>span{
    color: #E55473;
    
}

.white{
    color: rgba(255, 255, 255, 0.90);
}